@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --cyan: #3EE9E5;
    --navy: #093F68;
    --grey: #777F98;
    --white: #fff;
    --black: #080C20;
    --error: #FF2965;

    --font-small: 0.9375rem;/* 15px */
    --font-base: 1rem; /* 16px */
    --font-regular: 1.125rem; /* 18px */
    --font-large: 2rem; /* 32px */
    --font-xlarge: 2.5rem; /* 40px */
    --font-2xlarge: 3rem; /* 48px */

    --nav-padding: 2.5rem;
    --small-padding: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

body {
    height: 100vh;
    background-color: var(--black);
    color: var(--white);
}

.title {
    font-size: var(--font-2xlarge);
    font-weight: 800;
    line-height: 3.5rem;
}

.subtitle {
    font-size: var(--font-xlarge);
    font-weight: 800;
    line-height: 3.4375rem;
}

.header {
    font-size: var(--font-large);
    font-weight: 800;
    line-height: 2.75rem;
}

.subline {
    font-size: var(--font-regular);
    font-weight: 800;
    line-height: 1.5625rem;
}

.paragraph {
    font-size: var(--font-small);
    font-weight: 500;
    line-height: 1.5625rem;
    color: var(--grey);
    word-break: normal;
}

nav {
    display: grid;
    place-items: center;
    padding: var(--nav-padding);
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 9rem;
    overflow-x: hidden;
}

.mobile-hero-image {
    width: 100%;
}

.hero {
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
}

.bg-hero-squiggle {
    display: none;
}

.hero-content {
    display: flex;
    flex-direction: column;
    row-gap: var(--small-padding);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 var(--small-padding);
}

.illustration-hero-desktop {
    display: none;
}

.hero-content h1 span {
    color: var(--cyan)
}

.about {
    display: flex;
    flex-direction: column;
    row-gap: 3.5rem;
    padding: 0 var(--small-padding);
}

.about-item {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about-item-content {
    display: grid;
    place-items: center;
    gap: 0.75rem;
    max-width: 21.25rem;
}

.illustration-container {
    width: auto;
    background-color: var(--navy);
    border-radius: 2.8125rem;
}

.illustration-container img {
    padding: 1.375rem 1.875rem;
}

/* Pricing */
.pricing {
    display: flex;
    flex-direction: column;
    row-gap: 3.5rem;
    padding: 0 var(--small-padding);
    align-items: center;
}

.pricing-header {
    display: grid;
    place-items: center;
    text-align: center;
    row-gap: 1.75rem;
}

.pricing-plans {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.plan-heading {
    display: flex;
    flex-direction: column;
    row-gap: var(--font-regular);
}

.pricing-plan {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 3rem 1.875rem 2rem 1.875rem;
    border-radius: 0.3125rem;
    row-gap: 1.625rem;
    max-width: 27.8125rem;
}

.free-plan {
    background-color: var(--navy);
}

.plan-features {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    margin-top: 1.25rem;
}

.icon-check-free {
    fill: var(--cyan);
}

.icon-check-paid {
    fill: var(--navy);
}

.pricing-plan-icon {
    position: absolute;
    top: -1.375rem;
    left: 1.875rem;
    z-index: 10;
}

.regular-plan {
    margin-top: 1rem;
    color: var(--black);
    background-color: var(--cyan);
}

.regular-plan .pricing-plan-icon {
    top: -2.25rem;
}

.regular-plan h1 {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
}

footer {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    position: relative;
    text-align: center;
    padding: 0 var(--small-padding) 10rem var(--small-padding);
}

.notification-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 30rem;
}

footer img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

.notification-form input {
    color: var(--white);
    font-weight: 800;
    font-size: var(--font-small);
    background: var(--navy);
    border-radius: 99999px;
    outline: none;
    border: 0.125rem solid var(--navy);
    padding: 0.75rem 1.125rem;
    flex: 1;
    width: 20rem;
}

.notification-form input:active,
.notification-form input:focus {
    border: 0.125rem solid var(--cyan);
}

.notification-form button {
    border-radius: 9999px;
    font-weight: 800;
    outline: none;
    border: none;
    color: var(--black);
    background-color: var(--cyan);
    padding: 0.825em 1.125em;
    border: 0.125rem solid var(--cyan);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.notification-form button:hover,
.notification-form button:active {
    background-color: transparent;
    color: var(--white);
}

/* Media Queries */
@media only screen and (min-width: 42.5rem) {

    .notification-form {
        flex-direction: row;
    }

    .about {
        padding: 0 6.0625rem;
    }

    .about-item {
        flex-direction: row;
        column-gap: 3.4375rem;
    }

    .about-item:nth-child(even) {
        align-self: flex-start;
    }

    .about-item:nth-child(odd) {
        align-self: flex-end;
    }

    .about-item-content {
        place-items: start;
        text-align: start;
    }
}

@media only screen and (min-width: 48rem) {

    .mobile-hero-image {
        display: none;
    }

    .illustration-hero-desktop {
        display: block;
    }

    .hero-content {
        display: grid;
        grid-template-columns: repeat(3, 28.5625rem);
        place-items: center;
    }

    .hero-cube {
        position: relative;
    }

    .bg-hero-squiggle {
        display: block;
        position: absolute;
        inset: 0;
        margin: auto;
        z-index: -1;
    }

    nav {
        place-items: start;
    }
}

@media only screen and (min-width: 62.5rem) {

    .pricing-plans {
        flex-direction: row;
        align-items: stretch;
    }

    .free-plan {
        margin: .5rem 0;
    }

    .regular-plan {
        margin-top: 0;
    }

    .about {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .about-item {
        flex-direction: column;
    }

    .about-item:nth-child(even) {
        align-self: flex-end;
        margin-top: 1rem;
    }

    .about-item:nth-child(odd) {
        align-self: flex-start;
        margin-bottom: 1rem;
    }

    .about-item-content {
        place-items: center;
        text-align: center;
    }
}